/*
=============== 
Variables
===============
*/

:root {
  /* mainColors */
  --primaryRed-color: #fe7867;
  --secondaryYellw-color: #fad400;
  --darkCyan-color: #25564b;
  --darkblue-color: #19536b;
  --darkmodcyan-color: #458c7e;
  /* dark-colors */
  --darkgrayish-color: #5a636c;
  --darksatdblu-color: #23303e;
  --grayblu-color: #818498;
  --grayblu2-color: #a7abae;
  /* fonts */
  ---primary: "Barlow", sans-serif;
  --ff-secondary: "Fraunces", serif;
  /* general-Var */
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*===================
General reset
 ====================*/
*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  color: #333;
  line-height: 1.6;
  font-size: 1.5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 1rem 0;
}

img {
  width: 100%;
}

/*===================
Media-queries-800px
 ====================*/

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
